[Unit]
Description=Joystick service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/joystick_feed /dev/input/event2

[Install]
WantedBy=multi-user.target
